@model CarWeb.Models.Car

@{
    ViewBag.Title = "Details";
}

<div class="paddingbut">
    <h2>Details of the Car</h2>
</div>


<div>
    <hr />
    <dl class="form-horizontal paddingbut">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <div class="padding-16">
            <input type="button" class="btn btn-default" value="Edit Car Details" onclick="location.href='@Url.Action("Edit", new { id = Model.ID })'" />
            <input type="button" class="btn btn-default" value="Back to list" onclick="location.href='@Url.Action("index", "Cars")'" />
        </div>
    </dl>
 
</div>
