@model IEnumerable<CarWeb.Models.Car>

@{
    ViewBag.Title = "Car Showroom";
}

<h2>Welcome to Car Showroom</h2>

<p><input type="button" class="buttons button2" value="Add New Car" onclick="location.href='@Url.Action("Create")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            
            <input type="button" class="buttons button1" value="Edit Car Info" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'" />
            <input type="button" class="buttons button2" value="View Car Detail" onclick="location.href='@Url.Action("Details", new { id = item.ID })'" />
            <input type="button" class="buttons button3" value="Remove Car" onclick="location.href='@Url.Action("Delete", new { id = item.ID })'" />
        </td>
    </tr>
}

</table>
